body {
  /*background-color: #22BDA0;*/
  background-repeat: no-repeat;
}

nav li {
  text-decoration: none;
}

.icons img{
  height: 90px;
  width: auto;
  /*border: 4px solid black;*/

}

#hero {
  /*border: 5px solid #ff0000;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*# should I turn to table?*/
  height: 100%;
  width: 100%;
  /*   background-color: pink; */
}

#hero div {
  width: 817px; /*this needs to be the width of the img itself*/
  margin: 0 auto;
