

/*inhertis from header*/
header > * {
  flex: 1 0 auto;
}

.nav_container
nav li {
  text-decoration: none;
}

header {
  background-color: #22BDA0;
  font-size: 20px;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  align-items: baseline;
  font-weight: bold;
}

header h1 {
  font-size: 35px;
  /*stay the same place*/
  flex: 0 0 auto;
  padding-left: 15px;

}
header a {
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
  flex-direction: row;
}
header ul li {
  flex: 1 0 auto;
  list-style-type: none;
  padding: 5px;
}

#about_pic {
  height: 300px;
  width: auto;
  float: left;
  margin-right: 15px;
}

.pullright {
  float: right;
  width: 335px;
}


.content {
  display: block;
  width: 650px;
  margin: 20px auto;
}

.content:after {
  content: "";
  clear: both;
  display: block;
}

.fullscreen {
  display: block;
  width: 100%;
  max-width: 817px;
  margin: 0px auto;
  opacity: 0.4;
}


.logos a {
  color: white;
}

.foot_container {
  background-color: #22BDA0;
  opacity: 0.8;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.logos {
  float: left;
}
footer span {
  float: right;
}

footer:after {
  content: "";
  clear: both;
  display: block;
}
