body {
  background-color: #22BDA0;
  background-repeat: no-repeat;
}

nav li {
  text-decoration: none;
}

#hero {
  border: 5px solid #ff0000;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
  /*   background-color: pink; */
}


#hero  {
/*    height:100%; */
/*    width:auto; */
  border: 5px solid #ff0000;
  margin-left: auto;
  margin-right: auto;
  display: table;
/*   background-color: pink; */
  height: 100%;
  width: 100%;
}
